---
layout: cover
---

<!DOCTYPE html>
<html>
<head>
  <title>Cover page</title>

  <!-- build:css({app,.tmp}) /css/main.css -->
  <link rel="stylesheet" type="text/css" href="/css/cover.css">
  <!-- endbuild -->

</head>
<body>

  {{content}}

  <!-- build:js(app) /js/cover.js -->
  <script type="text/javascript" src="/_bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/_bower_components/moment/moment.js"></script>
  <script type="text/javascript" scr="/js/cover.js"></script>
  <!-- endbuild -->
</body>
</html>