---
layout: cover
---

<!DOCTYPE html>
<html>
<head>
  <title>Cover page</title>

  <style type="text/css">

    body {
      font-size: 14px;
      line-height: 1.6;
      font-family: Helvetica, arial, sans-serif;
    }
  </style>

</head>
<body>

  {{content}}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script type="text/javascript">
    fulldate = moment().format('dddd, D MMM, YYYY');
    fullyear = moment().format('YYYY');
    document.getElementById('fulldate').innerHTML = fulldate;
    document.getElementById('year').innerHTML = fullyear;
  </script>
</body>
</html>