
.docs {
  height: 100%;
  font-size: 14px;

  a {
    text-decoration: none;
  }

  p {
    em {
      display: block;
    }
  }

  .padded {
    padding: 60px 20px;

  }

  .container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background-color: darken($clr_blue, 40%);
  }

  .body-section {
    min-height: 100%;
    background-color: $clr_white;
  }

  header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 60px;
    position: fixed;
    background-color: $clr_blue;

    /* starting point */
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  
    h1 {
      margin: 15px;
      display: block;
      font-size: 27px;
      line-height: 27px;
      font-weight: bold;
      text-align: center;

      a {
        color: $clr_white;
      }
    }

    ul {
      @include nobullets();
    }
  }

  .burger {
    top: 4px;
    left: 10px;
    float: left;
    padding: 10px;
    display: block;
    position: absolute;
  
    li {
      width: 30px;
      height: 4px;
      margin: 5px 0;
      background-color: #fff;
    }
  }

  .burger.open li {
    background-color: $clr_white;
  }

  nav {
    top: 0;
    right: 5px;
    position: relative;
  
    ul {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow-y: auto;
      list-style-type: none;

      li {
        float: none;
        display: block;
      
        a {
          display: block;
          font-size: 14px;
          color: $clr_white;
          padding: 19px 25px;
          letter-spacing: 3px;
        }
        
        a.active {
          color: $clr_white;
          background-color: darken($clr_blue, 5%);
        }

        a:hover {
          color: $clr_white;
          background-color: darken($clr_blue, 20%);
        }
      }
    }
  }


  /* NAVIGATION ANNIMATION */
  nav {
    top: 0;
    left: 0;
    margin: 0;
    width: 93%;
    height: 100%;
    position: fixed;
    background-color: darken($clr_blue, 30%);
    
    /* starting point */
    opacity: .3;
    -webkit-transform: translate3d(5%,0,0)scale(.97);
       -moz-transform: translate3d(5%,0,0)scale(.97);
            transform: translate3d(5%,0,0)scale(.97);
  }

  /*Nav Expanding Open Effect*/
  nav.open {
    opacity: 1;

    -webkit-transform: translate3d(0,0,0)scale(1);
    -webkit-animation: slideIn .35s ease-in-out;
    
    -moz-transform: translate3d(0,0,0)scale(1);
    -moz-animation: slideIn .35s ease-in-out;
    
    transform: translate3d(0,0,0)scale(1);
    animation: slideIn .35s ease-in-out;
  }

  @-webkit-keyframes slideIn {
    0% {
      opacity: .3;
      -webkit-transform: translate3d(5%,0,0)scale(.97);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0)scale(1);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      opacity: .3;
      -moz-transform: translate3d(5%,0,0)scale(.97);
    }
    100% {
      opacity: 1;
      -moz-transform: translate3d(0,0,0)scale(1);
    }
  }
  @keyframes slideIn {
    0% {
      opacity: .3;
      transform: translate3d(5%,0,0)scale(.97);
    }
    100% {
      opacity: 1;
      transform: translate3d(0,0,0)scale(1);
    }
  }

  /*Nav Shrinking Closed Effect*/
  nav.close {
    opacity: .3;
    
    -webkit-transform: translate3d(5%,0,0)scale(.97);
    -webkit-animation: slideOut .3s ease-in-out;
    
    -moz-transform: translate3d(5%,0,0)scale(.97);
    -moz-animation: slideOut .3s ease-in-out;
    
    transform: translate3d(5%,0,0)scale(.97);
    animation: slideOut .3s ease-in-out;
  }

  @-webkit-keyframes slideOut {
    0% {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0)scale(1);
    }
    100% {
      opacity: .3;
      -webkit-transform: translate3d(5%,0,0)scale(.97);
    }
  }
  @-moz-keyframes slideOut {
    0% {
      opacity: 1;
      -moz-transform: translate3d(0,0,0)scale(1);
    }
    100% {
      opacity: .3;
      -moz-transform: translate3d(5%,0,0)scale(.97);
    }
  }
  @keyframes slideOut {
    0% {
      opacity: 1;
      transform: translate3d(0,0,0)scale(1);
    }
    100% {
      opacity: .3;
      transform: translate3d(5%,0,0)scale(.97);
    }
  }

  /* CONTENT ANNIMATION */
  .content {
    /* starting point */
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    height: 100%;
    z-index: 1;
  }

  /*Content Sliding Open Effect*/
  header.open,
  .content.open {   
    -webkit-transform: translate3d(240px,0,0);
    -webkit-animation: open .5s ease-in-out;
    
    -moz-transform: translate3d(240px,0,0);
    -moz-animation: open .5s ease-in-out;
    
    transform: translate3d(240px,0,0);
    animation: open .5s ease-in-out;
  }

  @-webkit-keyframes open {
    0%   {-webkit-transform: translate3d(0,0,0);}
    70%  {-webkit-transform: translate3d(260px,0,0);}
    100% {-webkit-transform: translate3d(240px,0,0);}
  }
  @-moz-keyframes open {
    0%   {-moz-transform: translate3d(0,0,0);}
    70%  {-moz-transform: translate3d(260px,0,0);}
    100% {-moz-transform: translate3d(240px,0,0);}
  }
  @keyframes open {
    0%   {transform: translate3d(0,0,0);}
    70%  {transform: translate3d(260px,0,0);}
    100% {transform: translate3d(240px,0,0);}
  }

  /*Content Sliding Closed Effect*/
  header.close,
  .content.close {
    -webkit-transform: translate3d(0,0,0);
    -webkit-animation: close .3s ease-in-out;
    
    -moz-transform: translate3d(0,0,0);
    -moz-animation: close .3s ease-in-out;
    
    transform: translate3d(0,0,0);
    animation: close .3s ease-in-out;
  }

  @-webkit-keyframes close {
    0%   {-webkit-transform: translate3d(240px,0,0);}
    100% {-webkit-transform: translate3d(0,0,0);}
  }
  @-moz-keyframes close {
    0%   {-moz-transform: translate3d(240px,0,0);}
    100% {-moz-transform: translate3d(0,0,0);}
  }
  @keyframes close {
    0%   {transform: translate3d(240px,0,0);}
    100% {transform: translate3d(0,0,0);}
  }
}
