html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 400 14px "Open Sans", sans-serif;
}

.half {
  width: 50%;
  float: left;
}

.third {
  float: left;
  width: 33.33333%;
}

.padded {
  padding: 30px;
}

.container {
  margin: 0 auto;
  max-width: 1020px;
}

@mixin nobullets() {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
