.text-view {
  margin: 0 auto;
  max-width: 900px;
  margin-bottom: 50px;

  a {
    color: darken($clr_blue, 10%);
    transition: all .5s ease-in-out;
  }

  a:hover {
    color: $clr_blue;
  }

  a.go-home {
    font-size: 20px;
    display: block;
    text-align: center;
  }
}

.lost {
  min-height: 100%;
  text-align: center;
  background: $clr_blue;

  a {
    text-decoration: none;

    h1 {
      margin: 0;
      font-size: 180px;
      font-weight: 300;
      color: $clr_white;
      padding-top: 100px;
    }

    h2 {
      font-size: 40px;
      color: lighten($clr_blue, 20%);
    }

    i {
      font-size: 30px;
      padding-bottom: 50px;
      color: darken($clr_blue, 15%);
    }
  }
}

@media screen and (max-width: 500px) {
  .lost {
    h1 {
      font-size: 80px;
    }
  }
}
